div{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
div a{
  background-color: #f7f0f0 ;
  padding: .3rem 1rem;
  margin: .2rem .15rem;
  border-radius: 10rem;
  color: rgb(128, 91, 91);
  font-weight: bold;
}
div a:hover{
  background-color: #d8d1d1;
  color: rgb(4, 36, 214);
}
