div{
  display: flex;
  justify-content:center ;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
div input{
  border-radius: 8rem 0 0 8rem;
  border: none;
  height: 3rem;
  width: 20rem;
  background-color: #f1f1f1;
  padding: 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
}
div button{
  color: gray;
  height: 3rem;
  width: 7rem;
  font-size: 1rem;
  border-radius: 0 8rem 8rem 0;
  border: none;
  background-color: red;
  color: white;
  opacity: .7;
  outline: none;
}
div button:hover{
  opacity: 1;
  cursor: pointer;
}
