ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}
ul li a{
  height: 22rem;
  width: 20rem;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #e72929;
}
li a:hover{
  opacity: 0.8;
  cursor: pointer;

}
.content{
  padding: 0.5rem;
  position: relative;
}
.favorite{
  position: absolute;
  top: .5rem;
  right: 1rem;
  font-size: 1.2rem;
}
.favorite.not{
  color: black;
}
.star{
  margin-bottom: .2rem;
}
.product-item-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.origin{
  flex: 9;
}
.origin span{
  border-radius: 2rem;
  background-color: whitesmoke;
  color: grey;
  font-size: .9rem;
  margin-right: .3rem;
  display: inline-block;
}
.cook-time{
  font-size: .9rem;
  flex: 3;
  text-align: right;
}
.price{
  color: gray;
  margin-top: .2rem;
}

